/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
#jacket {
	width: 1000px;
	margin: 0 auto;
}

body {
	border: 5px solid goldenrod;
	margin: 7%;
	height: 1400px;
}

header {
	width: 100%;
	padding: 10px 20px 60px 20px;
	boder-bottom: 1px solid #000;
	padding-top: 60px;
}

nav {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
}

.services-header-img {
	display: flex;
	justify-content: center;
	width: 100%;
}

main {
	margin-top: 2%;
	width: 100%;
}

.boxes {
	display: flex;
	border: 5px solid pink;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;

}

.box {
	width: 48%;
	border: 2px solid black;
	margin-left: 0px;
	background: lightgray;
}

.facts_list {
	border: 2px solid magenta;
	width: 48%;
}

.some_facts {
	display: flex;
	border: 5px solid purple;
	flex-wrap: wrap;
}

.facts {
	margin: 40px;
}

footer {
	display: flex;
	justify-content: center;
}




